@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(127, 29, 29);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(217, 119, 6);
    border-radius: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  /* .custom-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  } */
}
